.title_awesome {
  margin-top: 50px;
  padding-bottom: 30px;
  padding-top: 30px;
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  position: relative;
}
.title_awesome::after {
  content: "";
  border: 0.5px solid #ec7979;
  background-color: #ec7979;
  position: absolute;
  width: 170px;
  top: 105px;
  left: 495px;
}
.paragraph_awesome {
  margin: auto;
  margin-top: 40px;
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  color: #86878b;
}

.point * {
  display: inline-block;
  width: 370px;
  margin: 0px;
  gap: 20px;
}
.picture {
  width: 92px;
  display: block;
  margin: auto;
  margin-top: 100px;
}
.point_title {
  padding-inline: 15px;
  padding-bottom: 30px;
  margin-top: 39px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
}
.point__paragraph {
  margin-top: 8px;
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
@media (min-width: 1024px) and (max-width: 1510px) {
  .title_awesome {
    font-size: 24;
  }
  .title_awesome::after {
    width: 134px;
    top: 105px;
    left: 428px;
  }
  .paragraph_awesome {
    font-size: 14;
  }
  .point * {
    width: 318px;
  }
  .picture {
    width: 80px;
  }
  .point_title {
    font-size: 18;
  }
  .point__paragraph {
    font-size: 14;
  }
}
@media (max-width: 1023px) {
  .title_awesome {
    margin: 0;
    font-size: 18px;
    padding: 50;
  }
  .title_awesome::after {
    width: 134px;
    left: 80px;
  }
  .paragraph_awesome {
    font-size: 13px;
    line-height: 15px;
  }
  .point * {
    width: 288px;
  }
  .picture {
    width: 79.55px;
    height: 79.55px;
    margin-top: 43px;
  }
  .point_title {
    margin-top: 33px;
    font-size: 18px;
    line-height: 25px;
  }
  .point__paragraph {
    font-size: 14px;
    line-height: 16px;
  }
}
