.banner {
  background-image: url("../images/banner_background.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/banner_background.jpg") no-repeat;
  background-size: cover;
}
.logo {
  width: 165px;
  margin-top: 231px;
}
.banner_content {
  width: 670px;
}
.banner_title {
  width: 670px;
  margin-top: 73px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  align-items: center;
  text-transform: uppercase;

  color: #ffffff;
}
.banner_paragraph {
  width: 270px;
  margin-top: 97px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;

  color: #ffffff;
}
.banner_button {
  margin-top: 42px;
  width: 270px;
  background: none;
  padding: 20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  border: 2px solid #ffffff;
  color: #ffffff;
}
.banner_button:hover {
  border: 2px solid #ec7979;
  color: #ec7979;
}
.banner_button:active {
  border: 2px solid #ab4949;
  color: #ab4949;
}
.form {
  width: 470px;
  /* height: 450px; */
  margin-top: 208px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 30px;
}
input {
  border: none;
  border-bottom: 1px solid #bdbdbd;
  margin-top: 68px;
}
.form_button {
  margin-top: 75px;
  background: #ec7979;
  border-radius: 0px 0px 10px 10px;
  border: 0px;
  padding-block: 30px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.form_button:hover {
  background: #ab4949;
  border-radius: 0px 0px 10px 10px;
}
.form_button:active {
  box-shadow: inset 0px 0px 10px #ab4949;
}
