* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
.conteiner {
  width: 1170px;
  margin: 0 auto;
  padding: 0 ;
}
@media (min-width: 1024px) and (max-width: 1510px) {
  .conteiner {
    width: 992px;
  }
}
@media (max-width: 1023px) {
  .conteiner {
   width: 288px;
  }
}
