.contact_title {
  margin-top: 50px;
  padding: 58px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  color: #000000;
}
.contact_title::after {
  content: "";
  width: 170px;
  position: absolute;
  left: 490px;
  top: 155px;
  border: 0.5px solid #ec7979;
  background: #ec7979;
}
.contact_paragraph {
  margin-top: 40px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-align: center;

  color: #86878b;
}
.contact_button {
  width: 370px;
  border: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  background: #ec7979;
  color: #ffffff;
}
.contact_form {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  display: flex;
}
 fieldset{
    margin-top: 120px;
    height: 200px;
    width: 1170px;
} 
.inputs{
    display: flex;
    flex-direction: column;
}
