.customers_title {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
  padding: 55px;
  position: relative;
}
.customers_title::after {
  content: "";
  width: 170px;
  height: 0;
  display: block;
  position: absolute;
  border: 0.5px solid #ec7979;
  background: #ec7979;
  top: 145px;
  left: 495px;
}

.customer_paragraph {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-top: 40px;
  color: #86878b;
}
.comments {
  width: 370px;
  padding: 30px 10px 30px 10px;
  background: #e2e2e2;
  color: #86878B;
  border-radius: 10px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  position: relative;
  gap: 30px;
}
.triangle-down::after {
  content: "";
  left: 70px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #e2e2e2;
  position: absolute;
}
.triangle-down--2::after {
  content: "";
  left: 460px;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #e2e2e2;
}
.triangle-down--3::after {
  content: "";
  left: 845px;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #e2e2e2;
}
.customers {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
  position: relative;
}

.customer__name {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  align-items: center;
  text-transform: capitalize;
  margin-top: 46px;
  color: #000000;
  padding-left: 80px;
}

.customer__position {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  color: #000000;
  padding-left: 80px;
}
.customer--1::before {
  content: "";
  background-image: url("../images/Davis.png");
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: block;
  position: absolute;
  top: 215px;
  left: 0px;
}
.customer--2::before {
  content: "";
  background-image: url("../images/Jaydon.png");
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: block;
  position: absolute;
  top: 215px;
  left: 400px;
}
.customer--3::before {
  content: "";
  background-image: url("../images/Cooper.png");
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: block;
  position: absolute;
  top: 215px;
  left: 800px;
}
#slider_bl {
  display: none;
}

@media (min-width: 1024px) and (max-width: 1510px) {
  .customers_title {
    font-size: 24;
  }
  .customers_title::after {
    width: 142px;
    left: 410px;
  }
  .customer_paragraph {
    font-size: 14;
  }
  .comments {
    width: 317px;
    font-size: 14;
  }
  .triangle-down--2::after {
    left: 410px;
  }
  .triangle-down--3::after {
    left: 755px;
  }
  .customer__name {
    font-size: 18;
  }
  .customer__position {
    font-size: 14;
  }
  .customer--2::before {
    left: 338px;
  }
  .customer--3::before {
    left: 678px;
  }
}

@media (max-width: 1023px) {
  .customers {
    display: none;
  }
  .customers_title {
    font-size: 24px;
    line-height: 28px;
    padding: 0;
  }
  .customers_title::after {
    width: 134px;
    top: 75px;
    left: 80px;
  }
  .customer_paragraph {
    font-size: 14px;
    line-height: 16px;
  }
  .comments {
    width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
  .content__profile {
    padding-bottom: 20px;
  }
  .customer--1::before {
    width: 65px;
    height: 65px;
    top: 150px;
    left: 0px;
  }
  .customer--2::before {
    width: 65px;
    height: 65px;
    top: 150px;
    left: 0px;
  }
  .customer--3::before {
    width: 65px;
    height: 65px;
    top: 150px;
    left: 0px;
  }
  .customer__name {
    margin-top: 30px;
    font-size: 14px;
    line-height: 19px;
  }
  .customer__position {
    font-size: 13px;
    line-height: 15px;
  }
  .triangle-down--2::after {
    left: 70px;
  }
  .triangle-down--3::after {
    left: 70px;
  }
  #slider_bl {
    margin-top: 24px;
  }
  #slider_bl {
    display: block;
  }
  #slider_bl .wrapper {
    max-width: 288px;
  }

  #slider_bl input {
    display: none;
  }

  #slider_bl .inner {
    width: 500%;
  }

  #slider_bl article {
    width: 20%;
    float: left;
    position: relative;
  }

  #slider_bl article img {
    width: 100%;
  }

  #slider_bl .slider-prev-next-control {
    height: 50px;
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  #slider_bl .slider-prev-next-control label {
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.7;
  }

  #slider_bl .slider-prev-next-control label:hover {
    opacity: 1;
  }

  #slider_bl .slider-dot-control {
    width: 100%;
    bottom: 0;
    text-align: center;
  }

  #slider_bl .slider-dot-control label {
    margin-right: 30px;
    border: 1px solid #86878b;
    cursor: pointer;
    border-radius: 8px;
    display: inline-block;
    width: 10px;
    height: 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  #slider_bl .slider-dot-control label:hover {
    background: #ccc;
    border-color: #777;
  }

  #slider_bl .info {
    position: absolute;
    font-style: italic;
    line-height: 20px;
    opacity: 0;
    background: #86878b;
    text-align: left;
    -webkit-transition: all 1s ease-out 0.6s;
    -moz-transition: all 1s ease-out 0.6s;
    transition: all 1s ease-out 0.6s;
  }

  #slider_bl .info h3 {
    color: #fcfff4;
    margin: 0 0 5px;
    font-weight: 400;
    font-size: 1.5em;
    font-style: normal;
  }

  #slider_bl .info.top-left {
    top: 30px;
    left: 30px;
  }

  #slider_bl .info.top-right {
    top: 30px;
    right: 30px;
  }

  #slider_bl .info.bottom-left {
    bottom: 30px;
    left: 30px;
  }

  #slider_bl .info.bottom-right {
    bottom: 30px;
    right: 30px;
  }

  #slider_bl .slider-wrapper {
    width: 100%;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }

  #slider_bl .slider-wrapper .inner {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  }

  #slider_bl #slide1:checked ~ .slider-dot-control label:nth-child(1),
  #slider_bl #slide2:checked ~ .slider-dot-control label:nth-child(2),
  #slider_bl #slide3:checked ~ .slider-dot-control label:nth-child(3),
  #slider_bl #slide4:checked ~ .slider-dot-control label:nth-child(4),
  #slider_bl #slide5:checked ~ .slider-dot-control label:nth-child(5) {
    background: #86878b;
  }

  #slider_bl #slide1:checked ~ .slider-wrapper article:nth-child(1) .info,
  #slider_bl #slide2:checked ~ .slider-wrapper article:nth-child(2) .info,
  #slider_bl #slide3:checked ~ .slider-wrapper article:nth-child(3) .info,
  #slider_bl #slide4:checked ~ .slider-wrapper article:nth-child(4) .info,
  #slider_bl #slide5:checked ~ .slider-wrapper article:nth-child(5) .info {
    opacity: 1;
  }

  #slider_bl #slide1:checked ~ .slider-wrapper .inner {
    margin-left: 0;
  }

  #slider_bl #slide2:checked ~ .slider-wrapper .inner {
    margin-left: -100%;
  }

  #slider_bl #slide3:checked ~ .slider-wrapper .inner {
    margin-left: -200%;
  }

  #slider_bl #slide4:checked ~ .slider-wrapper .inner {
    margin-left: -300%;
  }

  #slider_bl #slide5:checked ~ .slider-wrapper .inner {
    margin-left: -400%;
  }
}
