.customers_title {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
  padding: 55px;
  position: relative;
}
.customers_title::after {
  content: "";
  width: 170px;
  height: 0;
  display: block;
  position: absolute;
  border: 0.5px solid #ec7979;
  background: #ec7979;
  top: 145px;
  left: 495px;
}

.customer_paragraph {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-top: 40px;
  color: #86878b;
}
.comments {
  width: 370px;
  height: 180px;
  background: #e2e2e2;
  border-radius: 10px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  align-items: center;
  padding: 10px;
  padding-top: 37px;
  position: relative;
  gap: 30px;
}
.triangle-down::after {
  content: "";
  left: 70px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #e2e2e2;
  position: absolute;
}
.triangle-down--2::after {
  content: "";
  left: 460px;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #e2e2e2;
}
.triangle-down--3::after {
  content: "";
  left: 845px;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #e2e2e2;
}
.customers {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
  position: relative;
}

.customer__name {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  align-items: center;
  text-transform: capitalize;
  margin-top: 46px;
  color: #000000;
  padding-left: 80px;
}

.customer__position {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  color: #000000;
  padding-left: 80px;
}
.customer--1::before {
  content: "";
  background-image: url("../images/Davis.png");
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: block;
  position: absolute;
  top: 215px;
  left: 0px;
}
.customer--2::before {
  content: "";
  background-image: url("../images/Jaydon.png");
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: block;
  position: absolute;
  top: 215px;
  left: 385px;
}
.customer--3::before {
  content: "";
  background-image: url("../images/Cooper.png");
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: block;
  position: absolute;
  top: 215px;
  left: 770px;
}
@media (max-width: 1024px) {
  .customers_title {
    width: 992px;
    font-size: 24;
  }
  .customers_title::after {
    width: 142px;
    left: 410px;
  }
  .customer_paragraph {
    width: 992px;
    font-size: 14;
  }
  .comments {
    width: 317px;
    font-size: 14;
  }
  .triangle-down--2::after {
    left: 410px;
  }
  .triangle-down--3::after {
    left: 755px;
  }
  .customer__name {
    font-size: 18;
  }
  .customer__position {
    font-size: 14;
  }
  .customer--2::before {
    left: 338px;
  }
  .customer--3::before {
    left: 678px;
  }
}
