.customers_title {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
  padding: 55px;
}

.customer_paragraph {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-top: 40px;
  color: #86878b;
}
.customers {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
  position: relative;
}

.customer__name {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  align-items: center;
  text-transform: capitalize;

  color: #000000;
}
.customer__position {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  color: #000000;
}
.customer--1::before{
  content: "";
  background-image: url('/images/Davis.png');
  width: 70px;
  height: 70px;
  display: block;
  position: absolute;
  top: 0;
  left: 10px;
}
