.design {
  background-image: url("../images/design_background.jpg");
  margin-top: 65px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/design_background.jpg") no-repeat;
  background-size: cover;
  /* width: 100%; */
}
.design_title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding: 70px;
  position: relative;
  color: #ffffff;
}
.design_title::after {
  content: "";
  border: 0.5px solid #ffffff;
  background-color: #ffffff;
  position: absolute;
  width: 170px;
  top: 150px;
  left: 480px;
}
.design_paragraph {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
._design_button_wrap {
  padding-bottom: 50px;
}
.design_button {
  background: none;
  margin-top: 73px;
  width: 370px;
  padding: 25px;
  margin-left: 380px;
  border: 2px solid #ffffff;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  align-items: center;
  text-align: center;
  text-transform: capitalize;

  color: #ffffff;
}
@media (min-width: 1024px) and (max-width: 1510px) {
  .design_title {
    font-size: 24;
  }
  .design_title::after {
    left: 415px;
  }
  .design_paragraph {
    font-size: 14px;
  }
  .design_button {
    width: 318px;
    margin-left: 338px;
  }
}
@media (max-width: 1023px) {
  .design_title {
    font-size: 24px;
    line-height: 28px;
    padding: 45px;
  }
  .design_title::after {
    left: 75px;
    width: 134px;
    top: 125px;
  }
  .design_paragraph {
    font-size: 14px;
    line-height: 16px;
  }
  .design_button {
    width: 287px;
    margin-left: 0;
  }
}
