.header {
  height: 75px;
  background: #000000;
}
.logo_header {
  width: 181px;
  margin-left: 115px;
}
.header_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#navbar ul {
  text-align: center;
  text-align: right;
  display: flex;
  justify-content: space-between;
}
#navbar li {
  display: inline;
}
#navbar a:active {
  background-color: #ab4949;
  color: #ffffff;
}
#navbar a:hover {
  background-color: #ec7979;
  color: #ffffff;
}
#navbar a {
  padding: 30px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-transform: capitalize;
  color: #ffffff;
}
@media (max-width: 1023px) {
 .header {
    height: 56px;
  }
  .logo_header {
    width: 130px;
    margin-left: 20px;
  }
  #navbar {
    display: none;
  }
}
