.header {
  height: 75px;
  background: #000000;
}
.logo_header {
  width: 181px;
  margin-left: 115px;
}
.header_wrap {
  display: flex;
  align-items: center;
}
#navbar ul {
  text-align: center;
  text-align: right;
}
#navbar li{
  display:inline;  
}
#navbar a:active {
  background-color: #ab4949;
  color: #ffffff;
}
#navbar a:hover {
  background-color: #ec7979;
  color: #ffffff;
}
#navbar a {
  padding: 30px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-transform: capitalize;
  color: #ffffff;
}
