.header{
    height: 75px;
    background: #000000;
}
.logo_header{
    width:181px;
    margin-left: 115px;
}
.header_wrap{
    display: flex;
    align-items: center;
 
}
#navbar li{
    display: inline-flex;
   
   
}
#navbar li:active{
    background-color: #AB4949;
    color: #FFFFFF;
}
#navbar li:hover{
    background-color: #EC7979;
    color:#FFFFFF;
}
#navbar a{
padding: 30px;
max-height: 75px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 19px;
text-transform: capitalize;

color: #FFFFFF;

}
