/* Переделать картинки! */
.media {
  background-color: #f8efef;
}
.media_wrap {
  display: flex;
}
.media__title {
  /* width: 470px; */
  margin-top: 2px;
  padding: 17px;
  padding-left: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  align-items: center;
  text-transform: capitalize;
  color: #333333;
}
.media__paragraph {
  /* width: 470px; */
  margin-top: 18px;
  padding-bottom: 18px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  color: #86878b;
}
.media__link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.media__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.media__img--wrap {
  display: block;
  width: 45px;
  height: 45px;
}
.media__img {
  width: 100%;
  height: 100%;
}
@media (min-width: 1024px) and (max-width: 1510px) {
  .media__title {
    font-size: 18px;
    line-height: 25px;
  }
  .media__paragraph {
    font-size: 14px;
    line-height: 16px;
  }
  .media__img--wrap {
    width: 42px;
    height: 42px;
  }
}
@media (max-width: 1023px) {
  .media_wrap{
flex-direction: column;
  }
  .media__title {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
  }
  .media__paragraph {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    width: 100%;
  }
  .media__links {
    gap:20px;
    padding-bottom: 40px;
  }
  .media__img--wrap {
    width: 20px;
  height: 20px;
  }
  .media__link{
    margin-top: 30px;
  }
}
