.tabs {
  margin-top: 128px;
  list-style: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #c6cbcd;
  text-transform: uppercase;
  color: #333333;
}
.tabs--1--active {
  width: 201px;
  padding: 10px;
  border: 1px solid #c6cbcd;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
  /* margin-left: 171px; */
}
.tabs--2 {
  margin-left: 154.5px;
}
.tabs--3 {
  margin-left: 146px;
}
.wrap {
  border: 1px solid #c6cbcd;
  border-top: 0;
  display: flex;
}
.all__content {
  /* min-width: 600px; */
  padding: 15px;
  margin: 0 auto;
}
.title {
  width: 570px;
  padding: 15px 0px 15px 0px;
  left: 270px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 41px;
  font-size: 30px;
  text-align: left;
  align-items: center;
}
.first_paragraph {
  width: 570px;
  left: 270px;
  margin-bottom: 30px;
  padding: 0px;
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
}
.the_second_paragraph {
  width: 570px;
  left: 270px;
  margin-bottom: 50px;
  padding: 0px;
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
}
.statue{
  max-width: 100%;
  min-height: 100%;
}
.button {
  width: 270px;
  background: #ec7979;
  border: 0px;
  margin-top: 50px;
  padding: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24.51px;
  text-align: center;
  text-transform: capitalize;
  color: white;
}
.button:hover {
  background: #ab4949;
}
.button:active {
  background: #ec7979;
}
@media (min-width: 1024px) and (max-width: 1510px) {
  .title {
    width: 483px;
    font-size: 24;
  }
  .first_paragraph {
    width: 483px;
    font-size: 14px;
  }
  .the_second_paragraph {
    width: 483px;
    font-size: 14;
  }
  .tabs--2 {
    margin-left: 80.5px;
  }
  .tabs--3 {
    margin-left: 90px;
  }
  
}
@media (max-width: 1023px) {
  .tabs{
    margin-top: 80px;
  }
  .title {
    width: 242px;
    font-size: 18px;
    text-align: center;
  }
  .first_paragraph {
    width: 243px;
    font-size: 13px;
    line-height: 15px;
  }
  .the_second_paragraph {
    width: 243px;

    font-size: 13px;
    line-height: 15px;
  }
  .image {
    display: none;
  }
  .tabs--1--active {
    width: 100px;
    padding: 5px;
  }
  .tabs--2 {
    margin-left: 28px;
    font-size: 14px;
    line-height: 19px;
  }
  .tabs--3 {
    margin-left: 50px;
    font-size: 14px;
    line-height: 19px;
  }
  .button {
    width: 243px;
  }
}
